section.one {
  position: relative;
  max-width: var(--std-max_width);
  height: 100vh;
  min-height: 660px;
  margin: auto;
  display: flex;
  align-items: center;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
section.one .food_heart {
  position: absolute;
  top: 180px;
  right: -120px;
  width: 52vw;
  min-width: 600px;
  animation: pulse;
  animation-iteration-count: 3;
  animation-duration: 2000ms;
  z-index: -1;
  animation-timing-function: linear;
}
section.one article {
  display: grid;
  gap: 30px;
  margin-left: var(--std-margin);
}
section.one article h1 {
  font-size: var(--lg);
  color: var(--heading);
}
section.one article p {
  font-size: var(--sm);
  color: var(--paragraph);
}
section.one button {
  cursor: pointer;
}

/****** Mobile ******/
@media (min-width: 400px) {
}

/****** X Small ******/
@media (min-width: 500px) {
  section.one article {
    margin: auto;
    width: 90%;
    background: var(--article_background);
    padding: 30px;
  }
}

/****** Small ******/
@media (min-width: 640px) {
  section.one article {
    width: 550px;
  }
}

/****** Medium ******/
@media (min-width: 768px) {
  section.one article {
    background: var(--article_background);
    margin: 0;
    margin-left: var(--std-margin);
    padding: 30px;
  }
  section.one article h1 {
    text-align: left;
  }
}

/****** Large ******/
@media (min-width: 1024px) {
  section.one article {
    background: none;
    margin: 0;
    margin-left: var(--std-margin);
  }
}

/****** X Large ******/
@media (min-width: 1280px) {
}

/****** 2X Large ******/
@media (min-width: 1536px) {
}
