section.two {
  margin: auto;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
section.two .icons_wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
section.two .icons_wrapper div {
  text-align: center;
  display: grid;
  place-items: center;
  gap: 15px;
  color: var(--heading);
}
section.two .icons_wrapper div p {
  width: 70%;
}
section.two .plant,
section.two .budget,
section.two .chef {
  width: 180px;
}
section.two .image-wrapper {
  position: relative;
  background-image: url("../../assets/section_2_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
}
section.two .image-wrapper .top_wave {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8vw;
  background-image: url("../../assets/nav_wave/white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
section.two .image-wrapper .bottom_wave {
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 40%;
  background-image: url("../../assets/nav_wave/bottoms-4/purple.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
section.two .image-wrapper .overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
  place-content: center;
  color: white;
  font-size: var(--md);
}
section.two .image-wrapper .overlay button {
  width: 40%;
  margin: auto;
  margin-top: 35px;
  color: black;
}
section.three {
  background: #272343;
  height: 100vh;
}
