header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: var(--navbar);
  width: 100vw;
  display: none;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
header .links {
  display: flex;
  align-items: center;
}
header .logo {
  width: 60px;
  cursor: pointer;
}
header nav {
  display: none;
}
header .login {
  width: 100px;
  margin-left: 20px;
  cursor: pointer;
}
header .switch {
  outline: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
header .header_wave {
  position: absolute;
  top: 60px;
  width: 100vw;
  height: 8vw;
  background-image: url("../../assets/wave/tops/navbar_wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/*Md*/
@media (min-width: 768px) {
  header {
    display: block;
  }
  header nav {
    display: block;
  }
  header nav a {
    font-size: var(--base);
    margin-left: 35px;
    cursor: pointer;
  }
  header .login {
    width: 100px;
    font-size: var(--xs);
  }
}

/*2xl*/
@media (min-width: 1536px) {
  header .logo {
    width: 80px;
    cursor: pointer;
  }
  header nav a {
    font-size: var(--base);
    margin-left: 35px;
    cursor: pointer;
  }
  header .login {
    width: 150px;
  }
  header .header_wave {
    position: absolute;
    top: 78px;
    height: 5vw;
  }
}
