section {
  max-width: var(--std-max_width);
  max-height: var(--std-max_height);
  padding: 60px 0;
  margin: auto;
}
/*Md*/
@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  section {
    padding: 150px 0;
  }
}
