section.features {
  z-index: 2;
  padding-top: var(--mobile-padding-y);
}
section.features .icons_wrapper {
  width: 95%;
  margin: auto;
  display: grid;
  gap: 80px;
}
section.features .icons_wrapper div {
  text-align: center;
  display: grid;
  place-items: center;
  gap: 15px;
  color: var(--heading);
}
section.features img {
  width: 120px;
}
section.features p {
  width: 70%;
}

section.three {
  background: #272343;
  height: 100vh;
}

/*Md*/
@media (min-width: 768px) {
  section.features {
    padding: 100px 0;
  }
  section.features .icons_wrapper {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  section.features img {
    width: 140px;
  }
  section.features h2 {
    font-size: var(--md);
  }
  section.features p {
    font-size: var(--sm);
  }
}

/*2xl*/
@media (min-width: 1536px) {
  section.features {
    padding: 150px 0;
  }
  section.features img {
    width: 200px;
  }
  section.features h2 {
    font-size: var(--reg);
  }
  section.features p {
    font-size: var(--base);
  }
  section.features .icons_wrapper div {
    gap: 25px;
    color: var(--heading);
  }
}
