@import url("../../animations/pulse.css");

section.splash {
  position: relative;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
section.splash .food_heart {
  position: absolute;
  top: 150px;
  right: -120px;
  width: 52vw;
  min-width: 600px;
  max-width: 1400px;
  animation: pulse;
  animation-iteration-count: 3;
  animation-duration: 2000ms;
  z-index: -1;
  animation-timing-function: linear;
}
section.splash article {
  width: 95%;
  max-width: 500px;
  background: var(--article_background);
  padding: 30px;
  display: grid;
  gap: 30px;
}
section.splash article h1 {
  font-size: var(--lg);
  color: var(--heading);
}
section.splash article p {
  font-size: var(--sm);
  color: var(--paragraph);
}
section.splash button {
  cursor: pointer;
}

/*Md*/
@media (min-width: 768px) {
  section.splash {
    align-items: center;
    justify-content: inherit;
  }
  section.splash article {
    margin-left: var(--std-padding-x);
    margin-top: 30px;
    max-width: 600px;
  }
  section.splash article h1 {
    font-size: var(--xl);
  }
  section.splash article p {
    font-size: var(--base);
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.splash article {
    background: none;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  section.splash {
    min-height: 900px;
    max-height: var(--std-max_height);
  }
  section.splash article {
    margin-left: var(--std-padding-x);
    margin-top: 60px;
    max-width: 800px;
  }
  section.splash article h1 {
    font-size: var(--xxl);
  }
  section.splash article p {
    font-size: var(--reg);
  }
}
