header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: var(--navbar);
  width: 100vw;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 var(--std-padding);
}
header .links {
  display: flex;
  align-items: center;
}
header .logo {
  width: 60px;
  cursor: pointer;
}
header nav {
  display: none;
}
header .login {
  width: 100px;
  margin-left: 20px;
  cursor: pointer;
}
header .switch {
  outline: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
header .header_wave {
  position: absolute;
  top: 60px;
  width: 100vw;
  height: 8vw;
  background-image: url("../../assets/nav_wave/navbar_wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
/*Md*/
@media (min-width: 768px) {
  header nav {
    display: block;
  }
  header nav a {
    font-size: 24px;
    margin-left: 35px;
    cursor: pointer;
  }
  header .login {
    width: 150px;
    margin-left: 35px;
  }
}
