.top_wave {
  position: absolute;
  top: -2px;
  width: 100%;
  height: 7vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.bottom_wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
