section.food_wave {
  position: relative;
  background-image: url("../../../assets/Home/background/food_wave.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  padding: 0;
}
section.food_wave .top_wave {
  background-image: url("../../../assets/wave/tops/white.svg");
}
section.food_wave .bottom_wave {
  background-image: url("../../../assets/wave/bottoms/purple.svg");
}
section.food_wave .overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 20px;
  place-content: center;
  padding: 20px;
}
section.food_wave h1 {
  text-align: center;
  color: white;
  font-size: var(--base);
}
section.food_wave button {
  width: 40%;
  margin: auto;
  color: black;
}

/*Md*/
@media (min-width: 768px) {
  section.food_wave {
    height: 420px;
  }
  section.food_wave .overlay {
    gap: 30px;
    place-content: center;
    font-size: var(--base);
  }
  section.food_wave h1 {
    font-size: var(--reg);
  }
}

/*2xl*/
@media (min-width: 1536px) {
  section.food_wave {
    height: 600px;
  }
  section.food_wave .overlay {
    gap: 40px;
  }
  section.food_wave h1 {
    font-size: var(--lg);
  }
}
